@model Medri.Web.Features.LeadIntake.LeadFunnelTimePreferencesViewModel

<section class="@Model.SectionClass lead-time-section">
    <h2>@Model.Heading</h2>
    <div class="row row-cols-2 row-cols-md-4 g-3">
        <div class="col">
            <label class="time-choice-button h-100 w-100">
                <input class="visually-hidden" name="@Model.SlotFieldName" type="radio" value="Mattina" checked="@(Model.NormalizedSelectedTimeSlot == "Mattina")" />
                <strong>Mattina</strong>
                <span>9-12</span>
            </label>
        </div>
        <div class="col">
            <label class="time-choice-button h-100 w-100">
                <input class="visually-hidden" name="@Model.SlotFieldName" type="radio" value="Pomeriggio" checked="@(Model.NormalizedSelectedTimeSlot == "Pomeriggio")" />
                <strong>Pomeriggio</strong>
                <span>14-17</span>
            </label>
        </div>
        <div class="col">
            <label class="time-choice-button h-100 w-100">
                <input class="visually-hidden" name="@Model.SlotFieldName" type="radio" value="Sera" checked="@(Model.NormalizedSelectedTimeSlot == "Sera")" />
                <strong>Sera</strong>
                <span>17-19</span>
            </label>
        </div>
        <div class="col">
            <label class="time-choice-button h-100 w-100">
                <input class="visually-hidden time-choice-altro" name="@Model.SlotFieldName" type="radio" value="Altro orario" checked="@Model.IsCustomTime" />
                <strong>Altro orario</strong>
                <span>Scegli giorno e ora</span>
            </label>
        </div>
    </div>
    <div class="custom-time-panel row g-3" aria-label="Scelta giorno e orario specifico">
        <div class="col-12 col-md-6">
            <label>
                <span class="form-label">Giorno</span>
                <input class="form-control" id="@Model.DayFieldName" name="@Model.DayFieldName" type="date" value="@Model.PreferredDay" />
            </label>
        </div>
        <div class="col-12 col-md-6">
            <label>
                <span class="form-label">Ora</span>
                <input class="form-control" id="@Model.TimeFieldName" name="@Model.TimeFieldName" type="time" value="@Model.PreferredTime" />
            </label>
        </div>
    </div>
    <span class="text-danger field-validation-valid" data-valmsg-for="@Model.SlotFieldName" data-valmsg-replace="true"></span>
</section>
